.above_header{
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
}
.main_logo{
    width: 310px;
    height: 50px;
    margin-left: 11%;
}
.header_container{
    height: 70px;
    width: 100vw;
    background: #286893;
}
.links_right_container{
    width: 440px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 22px;
    right: 150px;
    align-items: center;
}
.links_right_container a{
    font-size: 15px;
    text-decoration: none;
}
.left_two_items{
    text-align: center;
    border-left: 1px rgb(185, 181, 181);
}